---

---

<style>
    div {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
</style>
<div>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
</div>
